﻿
<!DOCTYPE html>
<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSPINIA</title>

    <link href="~/Content/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/inspinia/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap Tour -->
    <link href="~/Content/inspinia/css/plugins/bootstrapTour/bootstrap-tour.min.css" rel="stylesheet">

    <link href="~/Content/inspinia/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
    <link href="~/Content/inspinia/css/animate.css" rel="stylesheet">
    <link href="~/Content/inspinia/css/style.css" rel="stylesheet">

    <link href="~/Content/inspinia/css/plugins/chosen/chosen.css" rel="stylesheet">

    @RenderSection("css", required: false)

    <style>

        thead {
            background: #808080;
            color: #ffffff;
        }

        th {
            text-align: center;
        }

        td {
            text-align: center;
            word-break: break-all;
        }

        body {
            font-size: 140%;
            color: black;
            font-weight: bold;
        }

    </style>

</head>


<body>
    
    
        <div id="wrapper">

            @Html.Partial("_Navigation")

            <div id="page-wrapper" class="gray-bg dashbard-1">
                    @Html.Partial("_TopNavbar")
                    @RenderBody()
                    @Html.Partial("_Footer")
            </div>
        
        </div>

        <!-- Mainly scripts -->
        <script src="~/Scripts/inspinia/js/jquery-2.1.1.js"></script>
        <script src="~/Scripts/inspinia/js/jquery-ui-1.10.4.min.js"></script>
        <script src="~/Scripts/inspinia/js/bootstrap.min.js"></script>
        <script src="~/Scripts/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="~/Scripts/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="~/Scripts/inspinia/js/plugins/fullcalendar/moment.min.js"></script>

   
        <!-- Custom and plugin javascript -->
        <script src="~/Scripts/inspinia/js/inspinia.js"></script>
        <script src="~/Scripts/inspinia/js/plugins/pace/pace.min.js"></script>
        <script src="~/Scripts/inspinia/js/plugins/video/responsible-video.js"></script>

        <!-- jQuery UI -->
        <script src="~/Scripts/inspinia/js/plugins/jquery-ui/jquery-ui.min.js"></script>

        <!-- Vue -->
         <script src="~/Scripts/vue.js"></script>

        <!-- JQuery Validate -->
        <script src="~/Scripts/jquery.validate.js"></script>

       <!-- JQuery Chosen -->
       <script src="~/Scripts/inspinia/js/plugins/chosen/chosen.jquery.js"></script>
    
       <!-- i18next -->
       <script src="~/Scripts/inspinia/js/plugins/i18next/i18next.min.js"></script>


        @RenderSection("scripts", required: false)
    </body>

    </html>
