﻿@{
    Layout = "_InspiniaLayout.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins m-t-xl">
                <div class="ibox-content text-center p-xl">

                    <h2><span class="text-navy">Material Design Skin for Inspinia</span>
                    <br/><small>Example view</small></h2>

                    <p>
                        If you want to apply Material Design Skin, all you need to do is to add 'md-skin' class to your open body tag, like this:

                    </p>
                    <pre class="text-left">

&lt;body class="md-skin"&gt;&lt;/body&gt;
                    </pre>
                    <p>
                        Additional in current demo we also enable fixed option for navbar and sidebar - more about fixed options you can find in documentation.
                    </p>


                </div>
            </div>
        </div>
    </div>

</div>

