﻿@{
    Layout = "_InspiniaLayout.cshtml";
}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Resizeable panels</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a>Tables</a>
                        </li>
                        <li class="active">
                            <strong>Resizeable panels</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
            <div class="wrapper wrapper-content  animated fadeInRight">


                <div class="resizable-panels">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>
                                Resizable
                            </h5>

                            <div class="ibox-tools">
                                <label class="label label-primary">Resize me!</label>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <h2>
                                This is simple box container nr. 1
                            </h2>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.
                            </p>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>
                                Resizable
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <h2>
                                This is simple box container nr. 2
                            </h2>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.
                            </p>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>
                                Resizable
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <h2>
                                This is simple box container nr. 3
                            </h2>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.
                            </p>
                        </div>
                    </div>
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>
                                Resizable
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <h2>
                                This is simple box container nr. 4
                            </h2>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.
                            </p>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

@section css
{
    <link href="~/Content/inspinia/css/plugins/jQueryUI/jquery-ui.css" rel="stylesheet">    
}


@section Scripts
{
            <!-- Peity -->
<script src="~/Scripts/inspinia/js/plugins/peity/jquery.peity.min.js"></script>

    <script>
        $(document).ready(function () {

            $(".ibox").resizable({
                helper: "ui-resizable-helper",
                grid: 20
            });

        });
</script>
    
}

    

