﻿@{
    Layout = "_InspiniaLayout.cshtml";
}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-9">
                    <h2>	Search Page</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            Extra Pages
                        </li>
                        <li class="active">
                            <strong>	Search Page</strong>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <h2>
                                2,160 results found for: <span class="text-navy">“Admin Theme”</span>
                            </h2>
                            <small>Request time  (0.23 seconds)</small>

                            <div class="search-form">
                                <form action="index.html" method="get">
                                    <div class="input-group">
                                        <input type="text" placeholder="Admin Theme" name="search" class="form-control input-lg">
                                        <div class="input-group-btn">
                                            <button class="btn btn-lg btn-primary" type="submit">
                                                Search
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a href="#">INSPINIA IN+ Admin Theme</a></h3>
                                <a href="#" class="search-link">www.inspinia.com/inspinia</a>
                                <p>
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites
                                    still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                </p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a href="#">WrapBootstrap - Bootstrap Themes & Templates</a></h3>
                                <a href="#" class="search-link">https://wrapbootstrap.com/‎</a>
                                <p>
                                    WrapBootstrap is a marketplace for premium Bootstrap themes and templates. Impress your clients and visitors while using a single, rock-solid foundation.
                                </p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a href="#">WrapBootstrap | Facebook</a></h3>
                                <a href="#" class="search-link">https://www.facebook.com/wrapbootstrap‎</a>
                                <p>
                                    WrapBootstrap. 13672 likes · 508 talking about this. Marketplace for premium Bootstrap themes and templates. https://wrapbootstrap.com/
                                </p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a href="#">Wrapbootstrap - Quora</a></h3>
                                <a href="#" class="search-link">www.quora.com/Wrapbootstrap‎‎</a>
                                <p>
                                    If you are familiar with using any other HTML/CSS themes or WordPress themes then you shouldn't have any problems. If you have some experience using the ...
                                </p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a href="#">Newspaper Template - Wrapbootstrap Free download ...</a></h3>
                                <a href="#" class="search-link">https://wrapbootstrap.com/‎‎</a>
                                <p>
                                    What's black, white and red all over? The answer is Newspaper. A stylish magazine/news style theme inspired by black and white newsprint. The theme is.
                                </p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3><a href="#">Admin Themes Wrapbootstrap</a></h3>
                                <a href="#" class="search-link">https://wrapbootstrap.com/themes/admin‎‎</a>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
                                    <button class="btn btn-white">1</button>
                                    <button class="btn btn-white  active">2</button>
                                    <button class="btn btn-white">3</button>
                                    <button class="btn btn-white">4</button>
                                    <button class="btn btn-white">5</button>
                                    <button class="btn btn-white">6</button>
                                    <button class="btn btn-white">7</button>
                                    <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>

