﻿@{


    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | 404 Error</title>

    <link href="~/Content/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/inspinia/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/inspinia/css/animate.css" rel="stylesheet">
    <link href="~/Content/inspinia/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Internal Server Error</h3>

        <div class="error-desc">
            The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br/>
            You can go back to main page: <br/><a href="@Url.Action("Index")" class="btn btn-primary m-t">Dashboard</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Scripts/inspinia/js/jquery-2.1.1.js"></script>
    <script src="~/Scripts/inspinia/js/bootstrap.min.js"></script>

</body>

</html>
